*{
    padding:0px;
    margin:0px;
    
   
}

body{
  background-color:black;
  
   
}

h1{
    width:850px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;
    font-weight:normal;
    margin:27px auto;
    background-color:#0aafff;
    text-align:center;
    padding-bottom:10px;
    border-radius: 20px;
}
canvas { 
    margin-left:390px;
    /*para centrar la caja 
    justify-content: center;
    para centrar el contenido dentro de la caja
    align-items:center;
    */
    border: 1px solid white; 
    
  
}

#principal{
    width:500px;
   margin:0px auto; /*para centrar el texto*/
   min-height: 1200px;
   text-align:center;

}

.metodos h3{
    
    display:block;
    width:auto;
    height:40px;
    line-height:50px;
    background-color:black;
    box-shadow:0px 1px 0px #37bcf9, 1px 2px 0px #37bcf9, 2px 3px 0px #37bcf9, 3px 4px 0px #37bcf9;
    font-size: 30px;
    font-family:"Helvetica Neue";
    font-weight: normal;
    padding-left:15px;
    margin-top:30px;
    margin-bottom:15px;
    
    color:#37bcf9;
    
}



#principal div button{
    border-color:#37bcf9;
    margin:10px 10px auto;
    color:#00dad0;
    background-color:black;
    padding:5px;
    transition:all 300ms;
    border-radius:10px;
}
    


#principal div button:hover{
    font-size:17px;
    color:#37bcf9;
    
}





#blog{
    margin:0px auto;
    height:50px;
    width:140px;
    margin-top:30px;
    line-height:30px;
    text-align:center;
    transition:all 1s;

}


#blog a{
    display:block;
    font-family:"BebasNeue"; 
    font-size:25px;
    letter-spacing: 3px;
    color:#00dad0;
    text-decoration:none;
    transition:all 1s;
}

#blog:hover{
    background-color:#333;
    border:10px solid #37bcf9;
    border-radius:240px;
    box-shadow:0px 0px 10px gray;
    animation:blink 5s infinite linear;


}
@keyframes blink {
    0%{
        border:10px solid #37bcf9;
        
    }
    25%{
        border:10px solid green;

    }
    50%{
        border:10px solid yellow;

    }
    75%{
        border:10px solid white;

    }
    100%{
        border:10px solid #37bcf9;

    }
}

#blog:hover a{
    text-shadow:1px 1px  1px black ,1px 2px 1px black , 1px 3px 1px black , 1px 4px 1px black, 1px 5px 1px black , 1px 6px 1px black ;
    color:white;

}
